* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
} /*Catches all HTML elements on the page*/

body {
    background-color: #d9dcd6;
}/*Main background color for the page*/

.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

h1 {
    display: inline-block;
    font-size: 48px;
}

h1 #seo {
    background-color: #2a607c;
    color: #d9dcd6;
}

nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
} /*Navigation bar*/

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin-left: 25px;
}/*Tagets the links in the nav bar*/

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
} /*This makes the large prominent image at the top of the page cover the screen*/

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
} /*This makes the main content take up 75% of the webpage
 and stacks each block on top each other */

.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
} /*This evenly distributes and centers all elements of the benefits column*/

.benefit{
    margin-bottom: 32px;
    color: #ffffff;
} /*This sets an even proportion and color for all sections in the benefits column*/

.benefit h3 {
    margin-bottom: 10px;
    text-align: center;
} /*Each benefit is headed with an h3 and this sets 
them all to the same alignment*/

.benefit img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
} /*Sets a standard size for all images in the benefits section*/

.main-offerings {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
} /*Sets the sizing for each of the offerings 
in the main section of the webpage*/

.main-offerings img {
    max-height: 200px;
} /*Sets a standard height that all images in 
the main body cannot exceed*/

.main-offerings h2 {
    margin-bottom: 20px;
    font-size: 36px;
}/*Each section in the main body is headed with an h2 and this sets 
them all to the same margin-bottom and font size*/

.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
} /*Makes the footer sit at the bottom center of the webpage*/

.footer h2 {
    font-size: 20px;
}
